[project]
	description = A Go library for Backblaze's B2.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Toby Burress (kurin)
[access "refs/for/refs/*"]
	read = group user/Toby Burress (kurin)
	push = group user/Toby Burress (kurin)
	label-Code-Review = -2..+2 group user/Toby Burress (kurin)
	label-Verified = -1..+1 group user/Toby Burress (kurin)
	rebase = group user/Toby Burress (kurin)
	removeReviewer = group user/Toby Burress (kurin)
	submit = group user/Toby Burress (kurin)
[access "refs/heads/*"]
	read = group user/Toby Burress (kurin)
	create = group user/Toby Burress (kurin)
	push = +force group user/Toby Burress (kurin)
	pushMerge = group user/Toby Burress (kurin)
[access "refs/tags/*"]
	push = +force group user/Toby Burress (kurin)
	pushTag = group user/Toby Burress (kurin)
	pushSignedTag = group user/Toby Burress (kurin)
